[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch_cpu"

[[source]]
url = "https://download.pytorch.org/whl/cu116/"
verify_ssl = true
name = "pytorch_cu116"

[packages]
bt_vae = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.11"
